<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testgit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD5E66111C11B3260034E4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD5E662A1C11B3270034E4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD5E66351C11B3270034E4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
